<IfModule mod_rewrite.c>
  RewriteEngine On
  # Regla para evitar que los archivos y directorios existentes sean reescritos
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # Si la solicitud no es un archivo o directorio real, redirige a index.html
  # PERO EXCLUYE LOS ENDPOINTS PHP
  RewriteCond %{REQUEST_URI} !send-email.php
  RewriteCond %{REQUEST_URI} !upload.php
  RewriteRule ^ index.html [L]
</IfModule>